{% extends "gabarit.html" %}

{% block body %}
<div class="col-md-8">
    <h1>Connectez-vous</h1><br>
    <!-- login form -->
    <form enctype="multipart/form-data" action="/adopt" method="POST">
      <div class="form-group">
        <input type="text" name="name" placeholder="Nom de l'animal">
        <select type="text" name="type" >
          <option value="chat">Chat</option>
          <option value="chien">Chien</option>
          <option value="oiseaux">oiseaux</option>
          <option value="lezard">lezard</option>
          <option value="poisson">poisson</option>
          <option value="rongeur">rongeur</option>
          <option selected="selected" value="autre">autre</option>
        </select>
        <input type="text" name="race" placeholder="Race">
        <label>age:<input type="number" name="age" max="100" min="0"></label>
        <input type="textarea" name="description" placeholder="description">
        <input type=file name="image" accept=".png, .jpg">
        <input type="submit" name="ajout" class="login" value="ajouter">
      </div>
    </form>
</div>
{% endblock %}