{% extends "gabarit.html" %}
{% block body %}

  <!-- Blog Entries Column -->
  <div class="col-md-8">

        <h1 class="my-4">Companions
          <small>Adopt a friend</small>
        </h1>
        <!-- Blog Post -->
        <div class="col-md-12 card mb-2" style="width:100%;">
          <img src="data:;base64,{{ animal.photo }}" style="max-width:100%; height:auto;">
          <div class="card-body">
            <img  alt="" />
            <h2 class="card-title">{{ animal.nom }}</h2>
            <p class="card-text">{{ animal.desc }}</p>
          </div>
          <div class="card-footer text-muted">
            <p><b>Age :</b>{{ animal.age }} | <b>Race :</b> {{ animal.race }} </p>
          </div>
          <form method="POST" action="/envoi" class="form-group">
            <div class="form-group">
                <input type="text" name="courriel" placeholder="Votre courriel">
                <input type="textarea" name="sujet" placeholder="Message au maitre">
                <input type="submit" name="envoie" class="login" value="Envoie">

            </div>
        
          </form>
        </div>

      </div>



{% endblock %}