<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adoption - projet scholaire dans le cadre du cour INF3005</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        {% if session %}
        <a class="navbar-brand" href="/">{{ email }}</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if session %}
            <li class="nav-item">
              <a class="nav-link" href="/adoption">Adoption</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/liste">Liste</a>
            </li>

            <li class="nav-item">
              <a style="color: #fff;" class="btn btn-primary nav-link" href="/inscription">Inscription</a>
            </li>   
            {% if not session %} 
            <li class="nav-item">
              <a style="color: #fff;" class="btn btn-primary nav-link" href="/login">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a style="color: #fff;" class="btn btn-primary nav-link" href="/modif">Modification</a>
            </li>
            {% endif %}
            {% if session %}     
            <li><a style="color: #fff;" class="btn btn-primary nav-link" href="/logout">Se déconnecter</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
     <!-- Page Content -->
     <div class="container">
            <div class="row">
        
  
         

    {% block body %}{% endblock %}
    
     <!-- Sidebar Widgets Column -->
     <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
  
           
  
            


    </div>
    <!-- /.container -->



  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>