{% extends "gabarit.html" %}
{% block body %}
  
    <!-- Blog Entries Column -->
    <div class="col-md-8">

          <h1 class="my-4">Companions
            <small>Adopt a friend</small>
          </h1>
          {% for animal in animals %}
          <!-- Blog Post -->
          <div class="col-md-6 card mb-2" style="">
            <img src="data:;base64,{{ animal.photo }}" style="max-width:100%; height:auto;">
            <div class="card-body">
              <img  alt="" />
              <h2 class="card-title">{{ animal.nom }}</h2>
              <p class="card-text">{{ animal.desc }}</p>
              <a href="/{{ animal.nom }}/{{ animal.id }}" class="btn btn-primary">Adopter moi! &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <p><b>Age :</b>{{ animal.age }} | <b>Race :</b> {{ animal.race }} </p>
            </div>
          </div>
          {% endfor %}

        </div>

       

          {% endblock %}

   