{% extends "gabarit.html" %}

{% block body %}
         <div class="col-md-8">
                <h1>Connectez-vous</h1><br>
                <!-- login form -->
                <form class="form-group" action="/insc" method="post">
                  <div class="form-group">
                    <input type="text" name="prenom" placeholder="Prénom">
                    <input type="text" name="nom" placeholder="Nom">
                    <input type="text" class="bfh-phone" name="telephone" placeholder="Téléphone" data-format="+1 (ddd) ddd-dddd">
                    <input type="adresse" name="adresse" placeholder="Adresse">
                    <input type="email" name="courriel" placeholder="Courriel">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login" value="Login">
                  </div>
                </form>
                
        </div>

{% endblock %}
  