{% extends "gabarit.html" %}
{% block body %}
         <div  class="col-md-8">
                <h1>Connectez-vous</h1><br>
                <!-- login form -->
                <form class="form-group" action="/connexion" method="post">
                  <div class="form-group">
                  <input type="text" name="courriel" placeholder="Courriel">
                  <input type="password" name="pass" placeholder="Password">
                  <input type="submit" name="login" class="login" value="Login">
                  </div>
                </form>
        </div>
  
{% endblock %}