{% extends "gabarit.html" %}

{% block body %}
         <div class="col-md-8">
                <h1>Modification de votre compte</h1><br>
                <!-- login form -->
                <form class="form-group" action="/modification" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom">
                    <input type="text" class="form-control" name="nom" placeholder="Nom">
                    <input type="text" class="bfh-phone form-control" name="telephone" placeholder="Téléphone" data-format="+1 (ddd) ddd-dddd">
                    <input type="adresse" class="form-control" name="adresse" placeholder="Adresse">
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login" value="modifier">
                  </div>
                </form>
                
        </div>

{% endblock %}